* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}
.container {
  width: 90%;
  max-width: 1200px;
  flex-direction: column;
  margin: 0 auto;
}
header {
  padding-left: 15px;
  padding-right: 15px;
  background-color: blue;
}
main {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.main--principal {
  flex: 2;
  padding: 15px 20px;
  background-color: lightgray;
}
.main--lateral {
  flex: 1;
  padding: 15px 20px;
  background-color: grey;
}
ul {
  list-style: none;
}
li {
  padding: 0;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background-color: blue;
}
h1 {
  font-size: 25px;
  color: white;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
header {
  border: 1px solid black;
}
main {
  border: 1px solid blue;
}
.main--principal {
  border: 1px solid green;
}
.main--lateral {
  border: 1px solid red;
}
footer {
  border: 1px solid pink;
}
